extend components/plantilla.pug
block contenido
    .menu
      .menu__lista
        h1 Menu
        ul.lista--items
          each enlace in enlaces
            li=enlace
      .menu__contenido
        h1 #{titulos[0]}
        p
          | Lorem ipsum dolor sit amet,
          | consectetur adipisicing elit. 
          | Tenetur rerum impedit omnis temporibus 
          | vitae, fugiat est reiciendis sit facere 
          | aperiam ipsum facilis harum neque, 
          | minus officiis sequi, nostrum 
          | repellendus maxime!
          | Lorem ipsum dolor sit amet,
          | consectetur adipisicing elit. 
          | Tenetur rerum impedit omnis temporibus 
          | vitae, fugiat est reiciendis sit facere 
          | aperiam ipsum facilis harum neque, 
          | minus officiis sequi, nostrum 
          | repellendus maxime!

        p
          | Lorem ipsum dolor sit amet,
          | consectetur adipisicing elit. 
          | Tenetur rerum impedit omnis temporibus 
          | vitae, fugiat est reiciendis sit facere 
          | aperiam ipsum facilis harum neque, 
          | minus officiis sequi, nostrum 
          | repellendus maxime!
          | Lorem ipsum dolor sit amet,
          | consectetur adipisicing elit. 
          | Tenetur rerum impedit omnis temporibus 
          | vitae, fugiat est reiciendis sit facere 
          | aperiam ipsum facilis harum neque, 
          | minus officiis sequi, nostrum 
          | repellendus maxime!
        a.boton Ver mas