-var titulos = ["Titulo Principal", "Subititulo 1", "Subititulo 2", "Subititulo 3"]
-var enlaces = ["Acerca", "Noticias", "Contacto"]
mixin caja(imagen, titulo, contenido)
  .caja
    .caja__imagen: img(src="images/"+imagen)
    .caja__contenido
      h3=titulo
      p=contenido
      a.boton Leer más